<!DOCTYPE HTML>
<html>

<head>
    <title>Project</title>
    <style>
        .div1{
           background-color: black;
           padding:6px;

       }
     .Mac1{
        color:white;
        text-decoration: none;
        font-size:120%;
        margin-left: 35%;
     }
     .h1{
        text-align: center;
        margin-top: 5%;
     } 
     .p1{
        text-align: center;
        
     }
     .p2{
        text-align: center;
        
     }

     /* courses */
     

     .c1{
        
        margin-left: 39%;
        text-decoration: none;
        background-color:rgb(193, 215, 215) ;
        color: black;
        padding:10px;
        padding-right:100px;
        padding-left:20px;
        border:2px solid black
     } 
     .c2{
        margin-left: 39%;
        text-decoration: none;
        background-color:rgb(193, 215, 215) ;
        color: black;
        padding:10px;
        padding-right:95px;
        padding-left:20px;
        border:2px solid black
     } 
     .c3{
        margin-left: 39%;
        text-decoration: none;
        background-color:rgb(193, 215, 215) ;
        color: black;
        padding:10px;
        padding-right:30px;
        padding-left:20px;
        border:2px solid black
     } 
     .c4{
        margin-left: 39%;
        text-decoration: none;
        background-color:rgb(193, 215, 215) ;
        color: black;
        padding:10px;
        padding-right:80px;
        padding-left:20px;
        border:2px solid black
     } 
     .c5{
        margin-left: 39%;
        text-decoration: none;
        background-color:rgb(193, 215, 215) ;
        color: black;
        padding:10px;
        padding-right:80px;
        padding-left:20px;
        border:2px solid black
        
     } 



       
    </style>

</head>

<body >
    
    <form>
    

     <div class="div1">
        <input type="text" placeholder="Search 8,000+ tutorials..." name="search">
        <a class="Mac1" href="#freecodecamp">freeCodeCamp</a>
      </div>
      
      <h2 class="h1">Welcome to freeCodecamp.org</h2>
      <p class="p1">"I have not failed. I've just found 10,000 ways<br>that wont't work"</br></p>
<p class="p2"><i>-Thomas A, Edison</i></p>
<br><br>
<br>

<div class="courses"></div>

    <div>
        <a  class="c1" href="#">(New) Responsive Web Design Certification (300 hours)</a>
    </div>
<br><br>
    <div>
        <a class="c2" href="#">Legacy Responsive Web Design Certification (300 hours)</a>
    </div>
<br><br>
    <div>
        <a class="c3" href="#">JavaScript Algorithms and Date Structures Certification (300 hours)</a>
    </div>
<br><br>
    <div>
        <a class="c4" href="#">Front End Development Libraries Certification (300 hours)</a>
    </div>
<br><br>
    <div>
        <a class="c5" href="#">Back End Development and APIs Certification (300 hours)</a>
    </div> 

   
</div>

    
</form>
</body>

</html>