<!DOCTYPE HTML>
<html>

<head>
    <title>Project</title>
    <style>
        .div1 {
            font-size: 30px;
            margin-left: 40%;
            margin-top: 15%;
        }

        .div2 {
            font-size: 15px;
            margin-left: 40%;

        }

        .div3 {
            margin-top: -31%;
            background-color: black;
            padding: 5px;


        }

        .Mac2 {
            margin-left: 30%;
            text-decoration: none;
            color: white;
        }

        .Mac3 {
            float: right;
            margin-right: 1%;
            text-decoration: none;
            padding: 2px;
            color: white;
            background-color: black;
            border: 1px solid white;

            border-radius: 10%;

        }

        .Mac4 {
            float: right;
            text-decoration: none;
            padding: 3px;
            background-color: rgb(255, 191, 0);
            color: black;
            border-radius: 10%;
        }

        /* google */


        .start {
            margin-left: 40%;
            margin-top: 2%;
            padding-top: 10px;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 10px;
            background-color: rgb(255, 191, 0);
            border: 0px;
        }

        .start1 {
            margin-left: 5%;
            margin-top: 2%;
            padding-top: 10px;
            padding-right: 30px;
            padding-left: 30px;
            padding-bottom: 10px;
            background-color: rgb(255, 191, 0);
            border: 0px;
        }

        /* google */

        .div4 {
            margin-top: 30%;

        }

        .D1 {
            text-decoration: none;
            font-size: 25px;
            color: black;
            margin-left: 40%;
        }

        .D1:hover {
            color: orange;
        }
    </style>

</head>

<body>

    <div class="div1">
        <p><b>Learn to code-for free.</b></P>
        <p><b>Build projects.</b></P>
        <p><b>Earn certifictaions.</b></P>
    </div>

    <!--section 1-->

    <div class="div2">
        <p><b>Since 2014, more than 40,000 freeCodeCamp.org graduates have gotten<br>
                jobs at tech companies including.<b></p>
    </div>

    <!--navbar-->

    <div class="div3">
        <input type="text" placeholder="Search 8,000+ tutorials..." name="search">
        <a class="Mac2" href="#freecodecamp">freeCodeCamp</a>
        <a class="Mac4" href="/sign_up">Sign Up</a>
        <a class="Mac3" href="#menu">Menu</a>
    </div>

    <div class=" div4">
        <p><a class=" D1" href="https://www.google.co.in">Google</a></p>
    </div>

    <button class="start" type="button" tittle="start"><a href="#Get">Get started (it's free)</a></button>
    <button class="start1" type="button" tittle="start"><a href="/sign_in">sign in</a></button>
    </form>
</body>

</html>