<!DOCTYPE html>
<html>

<head>
    <style>
        .create {
            font-size: 50px;
            text-align: center;
            color:rgb(255, 191, 0);
           
        }

      

        .email {

             margin-top:5%;
            margin-left:44.2%;
            font-size: 30px;
            
        }

        .password {
            margin-top:0%;
            margin-left:41%;
            font-size: 31px;
           
        }

        .Login{
            margin-top:3%;
            margin-left:48%;
            font-size: 20px;
            background-color: rgb(255, 191, 0);
            padding-left:15px;
            padding-right:15px;
            border-color:rgb(255, 191, 0);
        }
       

    </style>
</head>

<body style="background-color:rgb(255, 255, 179);">
    <form action="/login" method="post">
        <h1 class="create">Open Account</h1>

     
        
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" title="email"  placeholder="email" name="email" required>
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" title="password"  placeholder="password" name="password" required>
        </div>
        
        <button class="Login" type="submit">Login</button>
    
    </form>

</body>

</html>