<!DOCTYPE html>
<html>

<head>
  <style>
    .create {
      font-size: 50px;
      text-align: center;
      color: rgb(255, 191, 0);

    }

    .First {
      margin-top: 5%;
      margin-left: 39%;
      font-size: 32px;

    }

    .last {

      margin-left: 39.2%;
      font-size: 32px;

    }

    .user {

      margin-left: 41%;
      font-size: 32px;

    }

    .email {

      margin-left: 43.8%;
      font-size: 30px;

    }

    .password {
      margin-top: 0%;
      margin-left: 40.5%;
      font-size: 31px;

    }

    .Register {
      margin-top: 3%;
      margin-left: 48%;
      font-size: 20px;
      background-color: rgb(255, 191, 0);
      padding-left: 15px;
      padding-right: 15px;
      border-color: rgb(255, 191, 0);
    }
  </style>
</head>

<body style="background-color:rgb(255, 255, 179);">
  <form action="/register" method="post">
    <h1 class="create">Create Account</h1>

    <div id="Sign">
      <div class="First">
        <label for="first_name">First Name:</label>
        <input type="text" title="first_name" placeholder="First Name" name="first_name" required>
      </div>
      <div class="last">
        <label for="last_name">Last Name:</label>
        <input type="text" title="last_name" placeholder="Last Name" name="last_name" required>
      </div>
      <div class="user">
        <label for="username">Userame:</label>
        <input type="text" title="first_name" placeholder="Username" name="username" required>
      </div>
      <div class="email">
        <label for="email">Email:</label>
        <input type="email" title="email" placeholder="Email" name="email" required>
      </div>
      <div class="password">
        <label for="password">Password:</label>
        <input type="password" title="password" placeholder="Password" name="password" required>
      </div>

      <button class="Register" type="submit">Register</button>
    </div>
  </form>

</body>



</html>
>